body { width: 40em; margin: 5em auto;
	background: #fff url(bg.png); font: normal .8em sans-serif; }
#doc { padding-bottom: 14px; background: url(shadow.png) bottom center no-repeat; }
.box { border: 1px solid #999; background: #fff; }
.box2 { border: 3px solid #ff5; padding: 1.2em; overflow: hidden; }
a { color: #00f; }
a.js { border-bottom: 1px dashed #00f; text-decoration: none; }
.first { margin-top: 0; }

.footer { font-size: .8em; text-align: center; color: #999; margin-top: -10px; }
.footer a { color: #666; }

h1 { font: bold italic 1.6em Arial, Helvetica, sans-serif; text-shadow: 1px 1px 1px #cb5;  }
#doc h1 { background: #ff5; color: #333; margin: -1.2em -1.2em 1em; padding: .4em 1em .2em; }
.tagline { float: right; font-weight: normal; color: #999; margin: -1em -.8em 0 0; text-shadow: none; }
.tagline a { color: inherit; }

h3 { font-weight: normal; font-size: 1.6em; margin: 1em 0 .5em; color: #449; text-shadow: 1px 1px 1px #ccc; }
h3 a { color: inherit; }

#upload { border-bottom: 1px solid #cb5; background: #ffc; padding: .5em 1em; margin: -1.6em -1.2em 2em; }
#upload input { font-size: 1em; }
#url_line  input { width: 31em; }
#url_line  button { width: 5em; font-weight: bold; margin-left: .5em; }
#cookie { font-size: 1em; }
#cookie a.js { display: none; font-style: italic; font-size: .8em; }
#cookie.hide label, #cookie.hide input { display: none; }
#cookie.hide a.js { display: inline; }

.login { border-bottom: 1px solid #bbb; margin: -2em -1.2em 2em -1.2em; padding: .3em 1em .3em; color: #999;
	background: url(formshadow.png) top center no-repeat; }
.login a { color: #666; }

.info { }
ul.features { list-style: none; margin: 0; padding: 0; }
.features p.first {  }
.features .descr { color: #999; margin-top: -1em; }
.features h3 { display: inline; }

table { width: 100%; border-spacing: 0; font-size: .9em; }
td { border-bottom: 1px solid #eee; padding: .2em .5em; }
tr:hover { background: #fafafa; }

.pseudobutton { display: inline-block; padding: .2em .4em .3em; background: #449; color: #fff; text-shadow: 1px 1px #333;
	-webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px;  }
.jscode { margin-top: -.5em; font: normal 8pt 'Courier New', monospace; }

/* IE */
/*body { _position: absolute; _left: 50%; _margin-left: -21em; }
.tagline a { _color: #999; }
h3 a { _color: #449; }
#url_line  input { _width: 20em; }*/