body { width: 50em; margin: 2em auto 5em; line-height: 1.2;
	background: #fff; font: normal 9pt 'Trebuchet MS', Arial, sans-serif; }
	
h1 { color: #3771c8; font-style: italic; font-weight: normal; font-size: 2.2em; text-shadow: 1px 1px 2px #ddd; }
h2 { color: #000; font-weight: normal; font-size: 1.8em; }
p { color: #666; }
a { color: #00f; }
a img { border: 0; }

.figure { display: block; float: right; margin: 0 0 1em 2em; }
	.figure .legend { display: block; text-align: center; font-size: .8em; color: #999; }

.header { display: block; text-align: center; margin: 0 auto; }
	.header h1 { display: inline-block; vertical-align: middle; }
	.header ul.menu { display: inline-block; vertical-align: middle; }
		ul.menu { list-style: none; }
		ul.menu li { display: inline; margin-right: .5em; }
		ul.menu a { color: #666; }

.footer { display: block; font-size: .8em; text-align: center; color: #999; margin-top: -20px; }
	.footer a { color: #666; }
	
.section { display: block; overflow: hidden; margin-bottom: 1em; }


form#upload { display: block; background: #44AA00 url(panel.png) bottom repeat-x; padding: 5px 6px;
	border-top: 1px solid #82C655; border-bottom: 1px solid #24490C; margin: -1em 0 1em; }
	#upload .fieldset { overflow: hidden; display: block; margin: 0 -15px 0 0; }
	#upload input[type=text] { display: block; border: 1px solid #338000; height: 20px; width: 84%; float: left; }
	#upload button  { background: url(button.png) right top no-repeat; border: 0; height: 22px; width: 15%; display: block; float: left; margin-top: 1px; }
	#upload button * { vertical-align: middle; }

.bookmarklet { float: right; text-align: center; width: 140px; margin-left: 3em; }
.bookmarklet div { display: block; }
.pseudobutton { display: block; background: #429D07 url(bookmarklet.png) no-repeat; width: 139px; height: 39px; text-decoration: none;}
.pseudobutton span { opacity: 0; font-size: 38px; line-height: 1; margin: 0 -10em; text-align: center; }

.sh { background-image: url(shadow.png); background-repeat: no-repeat; }
.sh.bl { background-position: bottom left; margin-left: -24px; padding-left: 48px; }
.sh.br { background-position: bottom right; margin-right: -30px; padding-right: 30px; padding-bottom: 60px; }
.sh.tl { background-position: top left; margin-left: -48px; padding-left: 54px; }
.sh.tr { background-position: top right; margin-right: -30px; padding-top: 24px; padding-right: 60px; margin-bottom: -30px; }

.pers { background-image: url(greypanel.png); background-repeat: no-repeat; background-color: #A8A8A8; }
.pers.bl { background-position: bottom left; margin-left: -54px; margin-bottom: -60px; padding-left: 54px; }
.pers.br { background-position: bottom right; margin-right: -60px; padding-right: 60px; padding-bottom: 30px; }
.pers.tl { background: none; border-top: 1px solid #666; margin: 0 -30px; }
.pers.tr { background: none; border-top: 1px solid #C5C5C5; padding: 0 30px;}

.login { color: #ccc; line-height: 1; margin: .5em 0 1em; }
.login b { display: block; font-size: 1.8em; color: #fff; font-weight: normal; }
.login b a { color: #fff; }
.login a { color: #ccc; }

table { width: 100%; border-spacing: 0; font-size: .9em; }
td { border-bottom: 1px solid #eee; padding: .2em .5em; }
tr:hover { background: #fafafa; }
