body { width: 50em; margin: 2em auto 5em; line-height: 1.2; padding: 0 30px;
	background: #fff; font: normal 9pt 'Trebuchet MS', Arial, sans-serif; }
	
h1 { color: #3771c8; font-style: italic; font-weight: normal; font-size: 2.2em; text-shadow: 1px 1px 2px #ddd; margin: .5em 0 .5em; }
h1 a { color: #3771c8; }
h2 { color: #000; font-weight: normal; font-size: 1.8em; margin: .8em 0 .5em; }
h3 { font-weight: normal; font-size: 1.4em; }
#doc p, #doc ol, #doc ul { color: #666; margin: 1em 0; }
dt { margin-top: 2em; }
a { color: #00f; }
a img { border: 0; }

.figure { display: block; float: right; margin: 0 0 1em 2em; }
	.figure .legend { display: block; text-align: center; font-size: .8em; color: #999; }
.bigfigure { text-align: center; }

.header { display: block; text-align: center; margin: 0 auto; }
	.header h1 { display: inline-block; vertical-align: middle; }
	.header ul.menu { display: inline-block; vertical-align: -.3em; }
		ul.menu { list-style: none; }
		ul.menu li { display: inline; margin-right: .5em; }
		ul.menu a { color: #666; }

.footer { display: block; font-size: .8em; text-align: center; color: #999; margin-top: -20px; }
	.footer a { color: #666; }
	
.section { display: block; overflow: hidden; margin-bottom: 1em; }

.notice { background: #a8a8a8; color: #fff; border-bottom: 1px solid #666; margin: 0 -30px 0 -30px; padding: 10px 30px 10px 30px; }

form#upload { display: block; background: #44AA00 url(panel.png) bottom repeat-x; padding: 5px 6px;
	border-top: 1px solid #82C655; border-bottom: 1px solid #24490C; margin: -1em 0 1em; }
	#upload .fieldset { overflow: hidden; display: block; margin: 0 -18px 0 0; }
	#upload input.text { display: block; border: 1px solid #338000; height: 20px; width: 83%; float: left; font-size: 14px; padding: 1px .25em; }
	#upload input.prompt { color: #999; font-style: italic; }
	#upload button  { background: url(button.png) right top no-repeat; border: 0; height: 22px; width: 15%; padding: 0 0 2px;
		display: block; float: left; margin-top: 1px; font: bold 10px/20px 'Tahoma', sans-serif; }
	#upload button span { background: url(peeep_.png) left center no-repeat; margin: 0; padding: 2px 0 2px 20px; }

.bookmarklet { float: right; text-align: center; width: 140px; margin-left: 3em; }
	.bookmarklet div { display: block; }
	.pseudobutton { display: block; width: 139px; height: 39px; }

.login { color: #ccc; line-height: 1; margin: .4em 0 1em; }
	.login h2 { margin: 0; }
	.login b, .login h2 { display: block; font-size: 1.8em; color: #fff; font-weight: normal; margin-bottom: 1px; }
	.login b a, .login h2 a { color: #fff; }
	.login a { color: #ccc; }
	
/* shadow around whole page */
.sh { background-image: url(shadow.png); background-repeat: no-repeat; }
	.sh.sbl { background-position: bottom left; margin-left: -24px; padding-left: 54px; }
	.sh.sbr { background-position: bottom right; margin-right: -30px; padding-right: 30px; padding-bottom: 60px; }
	.sh.stl { background-position: top left; margin-left: -54px; padding-left: 54px; }
	.sh.str { background-position: top right; margin-right: -30px; padding-top: 24px; padding-right: 60px; margin-bottom: -15px; }

/* Login panel backgrounds */
.pers { background-image: url(greypanel.png); background-repeat: no-repeat; background-color: #A8A8A8; }
	.pers.pbl { background-position: bottom left; margin-left: -54px; margin-bottom: -60px; padding-left: 54px; }
	.pers.pbr { background-position: bottom right; margin-right: -60px; padding-right: 60px; padding-bottom: 30px; }
	.pers.ptl { background: none; border-top: 1px solid #666; margin: 0 -30px; }
	.pers.ptr { background: none; border-top: 1px solid #C5C5C5; padding: 0 30px;}

.my_head { margin: 0 -30px 1em; padding: 10px 30px; color: #fff;
	background: #A8A8A8 url(greyhead.png) bottom repeat-x; border-top: 1px solid #c5c5c5; border-bottom: 1px solid #515151; }
table { width: 100%; border-spacing: 0; font-size: 1em; }
td { border-bottom: 1px solid #eee; padding: .1em .5em; }
tr:hover { background: #fafafa; }
table form { margin: 0; }
td.link div { overflow: hidden; height: 1.0em; line-height: 1.0; width: 30em; }
col.del { width: 2em; }
col.date { width: 10em; text-align: right; }
